@{
    ViewData["Title"] = "DEVREADS";
}
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!--link o css para o html-->
    <link rel="stylesheet" href="~/css/formadepagamento.css" asp-append-version="true" />
    <!--coloca o icon da dev reads no site-->
    <link rel="shortcut icon" href="~/img/logo.ico" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap lib para pegar icones necessarios para a montagem do site-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Forma de Pagamento</title>

</head>
<body>
    <div class="forma-de-pagamento">
        <h1>Forma de Pagamento:</h1>
        <hr>
        <div class="pix" onclick="irParaPix()">
            <img src="~/img/pix.png">
            <p>PIX</p>
        </div>
    </div>
</body>
<script>
    function irParaPix() {
        window.location.href = "Pix"; // Substitua pelo caminho correto da página
    }
</script>
</html>