@model Norget.Models.Usuario

@{
    ViewData["Title"] = "Adm";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/adm.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/img/logo.ico" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>ADM</title>
</head>
<body>
    <div class="voltar">
        <a href="#"><i class="fas fa-chevron-left"></i> VOLTAR</a>
    </div>

    <div class="profile-header">

        <br> <br>
        <div class="profile-info">
            <h1>Bem Vindo Administrador</h1>
            <br>
            <h3>@Model.NomeCli</h3>
            <p>@Model.</p>
        </div>
        <div class="profile-menu">
            <hr class="quebra">
            <div class="menu">
                <button class="btng"><a asp-controller="Livro" asp-action="PainelLivro">DESATIVAR/ALTERAR</a></button>
            </div>
            <div class="menu2">
                <button class="btna"><a asp-controller="Livro" asp-action="CadastroLivro">CADASTRAR LIVRO</a></button>
                <button class="btns"><a asp-controller="Home" asp-action="Index">SAIR</a></button>
            </div>
</body>
</html>