@model Norget.Models.Usuario;

@{
    ViewData["Title"] = "Login";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/logo.ico" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>Login</title>
</head>

<body>

    <div class="container">

        <div class="formulario">
            <div class="header">
                <span>LOGIN</span>
            </div>
            <div class="form">
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>
                <h2>Seja Bem-Vindo de volta!</h2>
                <article class="card-body">

                    @if (ViewData["msg"] != null)
                    {
                        @* O HTML Raw pode ser usado para: Procurar e baixar páginas HTML, Procurar e baixar cabeçalhos.*@
                        <p class="alert alert-danger">@Html.Raw(ViewData["msg"])</p>
                    }

                    <form method="post">
                        <label for="email"></label>
                        <input asp-for="EmailCli" id="email" placeholder="E-mail" type="email" required>

                        <label for="password"></label>
                        <div class="senha">
                            <input asp-for="SenhaCli" id="password" placeholder="Senha" type="password" required>

                        </div>

                        <button type="submit" class="btn-login">Registre-se</button>
                    </form>
                </article>
            </div>
        </div>
        <div class="redirecionar">
            <p><span>NÃO</span> TEM CONTA? :(</p>
            <a asp-action="CadastroUsuario">Clique <span class="reg">aqui</span> para fazer uma conta com a gente!</a>

        </div>
    </div>
</body>
</html>