<div class="search">
    <form method="get" asp-controller="Buscar" asp-action="Pesquisar" class="search" role="search">

        <input name="pesquisa" type="text" placeholder="Busque por Nomes, Autores ou Categorias">
        <button type="submit"><i class="fa fa-search"></i></button>

    </form>
</div>